.section-beast{
    height: 750px;

    display:flex;
    align-items: center;
    

    background-image: url("./../../img/beast-mode/beast-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    clip-path: polygon(0% 10%, 100% 0%, 100% 90%,0% 100%)
}
.section-beast-title{
    margin-bottom: 10px;
    font-family: var(---font-accent);
    font-size: clamp(2.625rem, 2.212rem + 2.06vw, 4.688rem);
    font-weight: 700;
    letter-spacing: 0.1em;
}
.section-beast-desk{
    margin-bottom: 30px;
    font-family: var(---font-base);
    font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
    line-height: 150%;
}
@media (max-width: 800px){
.section-beast{
    justify-content: center;
}
.section-beast-title{
    display:flex;
    justify-content: center;
}
.section-beast-desk{
    text-align: center; 
}

.section-beast-btn-wrapper{
    display:flex;
    justify-content: center;
}
}